@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Rajdhani:wght@600&family=Righteous&family=Work+Sans:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
/* Menú de navegación */

* {
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
}

html {
    /* me permite deslizar cuando hago click en los links del menú */
    scroll-behavior: smooth;
}

/* Menú */

.contenedor-header {
    background: #021019;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}


.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    color: #ffffff;
    text-shadow:
		0 0 5px rgb(115, 0, 255),
		0 0 10px rgb(149, 0, 255),
		0 0 20px rgb(140, 0, 255),
		0 0 40px rgb(91, 38, 127),
		0 0 80px rgb(97, 38, 127),
		0 0 90px rgb(131, 14, 214),
		0 0 100px rgb(88, 38, 127),
		0 0 140px rgb(107, 31, 148),
		0 0 180px rgb(90, 38, 127);
    
    text-decoration: none;
}

.logo {
    margin: 20px;
    line-height: 0.3;
}

.nombre-logo2{
    font-size: 1.6rem;
    font-family: 'Nothing You Could Do', cursive;
    text-shadow:
		0 0 5px rgb(255, 149, 0),
		0 0 10px rgb(255, 174, 0),
		0 0 20px rgb(255, 111, 0),
		0 0 40px rgb(127, 48, 38),
		0 0 80px rgb(137, 28, 6),
		0 0 90px rgb(205, 138, 5),
		0 0 100px rgb(176, 118, 2),
		0 0 140px rgb(224, 159, 8),
		0 0 180px rgb(236, 69, 8);
}

.nombre-logo{
    font-family: 'Orbitron', sans-serif;
    color: #ffffff;
    text-shadow:
		0 0 5px rgb(115, 0, 255),
		0 0 10px rgb(149, 0, 255),
		0 0 20px rgb(140, 0, 255),
		0 0 40px rgb(91, 38, 127),
		0 0 80px rgb(97, 38, 127),
		0 0 90px rgb(131, 14, 214),
		0 0 100px rgb(88, 38, 127),
		0 0 140px rgb(107, 31, 148),
		0 0 180px rgb(90, 38, 127);
}


.frontend {
    color: #ffffff;
    text-shadow:
    0 0 5px rgb(255, 149, 0),
    0 0 10px rgb(255, 174, 0),
    0 0 20px rgb(255, 111, 0),
    0 0 40px rgb(127, 48, 38),
    0 0 80px rgb(137, 28, 6),
    0 0 90px rgb(205, 138, 5),
    0 0 100px rgb(176, 118, 2),
    0 0 140px rgb(224, 159, 8),
    0 0 180px rgb(236, 69, 8);
        font-size: 2.2rem;
}


.frontend:hover {
    color: #ffffff;
    text-shadow:
    0 0 5px rgb(115, 0, 255),
		0 0 10px rgb(149, 0, 255),
		0 0 20px rgb(140, 0, 255),
		0 0 40px rgb(91, 38, 127),
		0 0 80px rgb(97, 38, 127),
		0 0 90px rgb(131, 14, 214),
		0 0 100px rgb(88, 38, 127),
		0 0 140px rgb(107, 31, 148),
		0 0 180px rgb(90, 38, 127);
    font-size: 2.2rem;
    transition: 0.3s;
    animation: infinite;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #fff;
    text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
    margin: 0 15px;
    padding: 3px;
    transition: 0.1s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
    color: #fdfdfd;
    text-shadow:
		0 0 5px rgb(255, 136, 0),
		0 0 10px rgb(255, 85, 0),
		0 0 20px rgb(255, 111, 0),
		0 0 40px rgb(127, 48, 38),
		0 0 80px rgb(127, 53, 38),
		0 0 90px rgb(220, 151, 13),
		0 0 100px rgb(127, 97, 38),
		0 0 140px rgb(148, 113, 31),
		0 0 180px rgb(127, 99, 38);
}

.nav-responsive {
    color: #fdfdfd;
    font-size: large;
    text-shadow:
		0 0 5px rgb(255, 136, 0),
		0 0 10px rgb(255, 85, 0),
		0 0 20px rgb(255, 111, 0),
		0 0 40px rgb(127, 48, 38),
		0 0 80px rgb(127, 53, 38),
		0 0 90px rgb(220, 151, 13),
		0 0 100px rgb(127, 97, 38),
		0 0 140px rgb(148, 113, 31),
		0 0 180px rgb(127, 99, 38);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* Sección INICIO */

.inicio {
    background: linear-gradient(to top, rgba(13, 20, 24, 0.7), rgba(0, 5, 8, 0.785)), url(cyberpunk-g8c833af7d_1920.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
    display: flex;
    align-items: center;
}



h1 .letra-a {
    color: #ffffff;
    text-shadow:
    0 0 5px rgb(115, 0, 255),
    0 0 10px rgba(149, 0, 255, 0.886),
    0 0 20px rgb(140, 0, 255),
    0 0 40px rgb(91, 38, 127),
    0 0 80px rgb(97, 38, 127),
    0 0 90px rgb(131, 14, 214),
    0 0 100px rgb(88, 38, 127),
    0 0 140px rgb(107, 31, 148),
    0 0 180px rgb(90, 38, 127);
}

h1 .letra-o {
    color: #ffffff;
    text-shadow:
    0 0 5px rgba(161, 100, 235, 0.734),
    0 0 10px rgba(149, 0, 255, 0.706),
    0 0 20px rgba(140, 0, 255, 0.626),
    0 0 40px rgb(91, 38, 127),
    0 0 80px rgb(97, 38, 127),
    0 0 90px rgb(131, 14, 214),
    0 0 100px rgb(88, 38, 127),
    0 0 140px rgb(107, 31, 148),
    0 0 180px rgb(90, 38, 127);
    transition: 0.3s;
    
}

h1 .letra-o:hover {
    text-shadow:
    0 0 5px rgb(255, 149, 0),
		0 0 10px rgb(255, 174, 0),
		0 0 20px rgb(255, 111, 0),
		0 0 40px rgb(127, 48, 38),
		0 0 80px rgb(137, 28, 6),
		0 0 90px rgb(205, 138, 5),
		0 0 100px rgb(176, 118, 2),
		0 0 140px rgb(224, 159, 8),
		0 0 180px rgb(236, 69, 8);
    cursor: pointer;
    transition: 0.3s;
}


.inicio .contenido-banner {
    padding: 20px;
    margin-top: 0;
    max-width: 700px;
    margin: auto;
}

.inicio .contenido-banner h1 {
    font-size: 4em;
    font-family: 'Comfortaa', cursive;
}

.inicio .contenido-banner h2 {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 45px;
    line-height: 1.4;
    font-weight: 600;

}

.inicio .contenido-banner .redes a {
    color: #ffffff;
    font-size: 2.5em;
    margin-left: 2em;
    text-shadow:
		0 0 5px rgb(255, 149, 0),
		0 0 10px rgb(255, 174, 0),
		0 0 20px rgb(255, 111, 0),
		0 0 40px rgb(127, 48, 38),
		0 0 80px rgb(137, 28, 6),
		0 0 90px rgb(205, 138, 5),
		0 0 100px rgb(176, 118, 2),
		0 0 140px rgb(224, 159, 8),
		0 0 180px rgb(236, 69, 8);
    
}

.inicio .contenido-banner .redes a:hover {
    color: #ffffff;
    font-size: 2.5em;
    transition: 0.3s;
    margin-left: 2em;
    text-shadow:
    0 0 5px rgb(115, 0, 255),
    0 0 10px rgba(149, 0, 255, 0.886),
    0 0 20px rgb(140, 0, 255),
    0 0 40px rgb(91, 38, 127),
    0 0 80px rgb(97, 38, 127),
    0 0 90px rgb(131, 14, 214),
    0 0 100px rgb(88, 38, 127),
    0 0 140px rgb(107, 31, 148),
    0 0 180px rgb(90, 38, 127);
    
}

.ux {
    font-family: 'Nothing You Could Do', cursive;
}

.inicio .contenido-banner .redes a span {
    color: #ffffff;
    font-size: 1.1em;
    text-shadow:
    0 0 5px rgb(115, 0, 255),
    0 0 10px rgba(149, 0, 255, 0.886),
    0 0 20px rgb(140, 0, 255),
    0 0 40px rgb(91, 38, 127),
    0 0 80px rgb(97, 38, 127),
    0 0 90px rgb(131, 14, 214),
    0 0 100px rgb(88, 38, 127),
    0 0 140px rgb(107, 31, 148),
    0 0 180px rgb(90, 38, 127);
    display: inline-block;
    transition: 0.3s
}

.inicio .contenido-banner .redes a span:hover {
    color: #ffffff;
    font-size: 1.1em;
    text-shadow:
    0 0 5px rgb(255, 149, 0),
		0 0 10px rgb(255, 174, 0),
		0 0 20px rgb(255, 111, 0),
		0 0 40px rgb(127, 48, 38),
		0 0 80px rgb(137, 28, 6),
		0 0 90px rgb(205, 138, 5),
		0 0 100px rgb(176, 118, 2),
		0 0 140px rgb(224, 159, 8),
		0 0 180px rgb(236, 69, 8);
    display: inline-block;
}

.parpadea {
  
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.2; }
    20% {opacity: 0.8; }
    45% {opacity: 1.0}
    50% { opacity: 0.6; }
    100% { opacity: 0.1; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    20% {opacity: 0.7; }
    25% {opacity: 1.0}
    50% { opacity: 0.6; }
    100% { opacity: 0.1; }

  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.6;
        text-shadow:0 0 5px rgb(255, 149, 0),
		0 0 10px rgb(245, 183, 49),
		0 0 20px rgb(157, 0, 255),
		0 0 40px rgb(91, 38, 127),
		0 0 80px rgb(244, 198, 32),
		0 0 90px rgb(205, 138, 5),
		0 0 100px rgb(176, 118, 2),
		0 0 140px rgb(224, 159, 8),
		0 0 180px rgb(168, 8, 236);;
     }
    100% { opacity: 1.0; }
  }